*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Karma", serif;;
 }
 header{
     display: flex;
     justify-content: space-between;
     font-size: 1.5rem;
     margin-bottom: 50px;
     position: sticky;
     top: 0px;
     background-color: white;
     padding: 5px;
     box-shadow: 0px 0px 5px;
 }
 .icon:hover{
     background-color: whitesmoke;
     
 }
 .icon{
     padding: 5px;
 }
 section{
     width: 22vw; 
     vertical-align: top; 
     justify-content: space-evenly;
 }
 img{
     width: 100%;
 }
 main{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
 }
 h3{
     margin: 10px;
     text-align: center;
     font-size: 1rem;
 }
 p{
     margin: 10px;
     text-align: justify;
     font-size: 1rem;
 }